<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/style.css" />
	<link rel="icon"
	      type="image/png"
	      href="/res/favicon.png" />
	<meta name="theme-color" content="#282a36" />
	<title>Countdown to {{.DateStr}}</title>
	<script>
		window.date = {{.Date}};
	</script>
</head>
<body class="center">
<h1>Countdown to {{.DateStr}}</h1>
<table class="tableCenter">
	<tr>
		<th>
			Years
		</th>
		<th>
			Months
		</th>
		<th>
			Days
		</th>
		<th>
			Hours
		</th>
		<th>
			Minutes
		</th>
		<th>
			Seconds
		</th>
	</tr>
	<tr>
		<td id="Y">
			{{.Y}}
		</td>
		<td id="M">
			{{.M}}
		</td>
		<td id="D">
			{{.D}}
		</td>
		<td id="H">
			{{.H}}
		</td>
		<td id="Mi">
			{{.Mi}}
		</td>
		<td id="S">
			{{.S}}
		</td>
	</tr>
</table>
<script src="/res/wasm_exec.js"></script>
<script>
	if (!WebAssembly.instantiateStreaming) { // polyfill
		WebAssembly.instantiateStreaming = async (resp, importObject) => {
			const source = await (await resp).arrayBuffer();
			return await WebAssembly.instantiate(source, importObject);
		};
	}
	(async function() {
		try {
			const go = new Go();
			const { instance } = await WebAssembly.instantiateStreaming(fetch("/out/clock.wasm"), go.importObject);
			go.run(instance);
		} catch (err) {
			console.log(err);
			console.log("fallback to js");
			let s = document.createElement("script");
			s.src = "/out/clock.js";
			document.body.appendChild(s);
		}
	})()
</script>
</body>
</html>